.timeline .profile-image {
    margin: 5px;
    -webkit-border-radius: 10px;
}

.timeline .username {
    font-size: 80%;
    white-space:normal;
}

.timeline .account-name {
    font-size: 90%;
    font-weight: normal;
    white-space:normal;
}

.timeline .date {
    font-size: 60%;
    margin: 0.6em;
    width: auto !important;
}

.timeline a {
    padding: 2px 25px 2px 60px !important;
}

.retweet {
    vertical-align: middle;
    color: #999999;
}

.retweet img {
    width: 16px;
    height: 16px;
    //background: url(/public/images/icons/Black/icon-retweet.png) 0 0 no-repeat;
    margin-right: 5px;
    vertical-align: middle;
}