<script type="text/javascript" charset="utf-8" src="/public/js/timeline.js"></script>
<script>
var listSelector = "div.timeline-page #timeline-list";
var url = "<%= url_for action: :index %>";
var option = {showUrl: "<%= url_for action: :show %>"};

$(document).delegate("div.timeline-page", "pageinit", function (event) {
  $('div').on('pageshow', function(e,ui){
    if (ui.prevPage) {
      $(this).on("swiperight", function(swipeEvent) {
        $.mobile.changePage(
          ui.prevPage,
          {
            transition: "slide",
            reverse: true
          }
        );
      });
    }
  });
  $(".iscroll-wrapper", this).bind({
    iscroll_onpulldown : function(event, data) {
      setTimeout(function() {
        renderTimelines(url,listSelector, option);
      }, 1500);
    }
  });
  renderTimelines(url, listSelector, option);
});
</script>
<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/" class="timeline-page">

  <div data-role="header" data-position="fixed" data-tap-toggle="false">
    <h1>Showin</h1>
  </div>

  <div data-role="content" data-iscroll>
    <div class="iscroll-pulldown" style="text-align:center">
      <span class="iscroll-pull-icon"></span>
      <span class="iscroll-pull-label"></span>
    </div>
    <ul data-role="listview" id="timeline-list">
    </ul>
  </div>

  <%= render partial: "/footer" %>
</div>
