<div data-role="page" data-add-back-btn="true">
  <div data-role="header" data-position="inline">
    <h1>Accounts</h1>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-role="button" data-icon="plus" data-iconpos="notext" data-theme="a" data-inline="true">New</a>
  </div>
  <div data-role="content">
    <% if Account.find_all.length == 0 %>
      <div> nothing ... </div>
    <% end %>
    <ul data-role="listview">
      <% Account.find_all.each {|account| %>
        <li>
          <img src="/public/images/social/<%= account.provider %>.png">
          <%= account.name %>
        </li>
      <% } %>
    </ul>
  </div>
  <%= render partial: "/footer" %>
</div>