<div data-role="page" data-add-back-btn="true">
  <div data-role="header" data-position="inline">
    <h1>New Account</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview" data-inset="true">
        <li>
          <a href="#">
            <img src="/public/images/social/twitter.png">
            <h2>Twitter</h2>
            <p>Twitter account authorization</p>
            <p class="ui-li-aside">twitter</p>
          </a>
        </li>
    </ul>
  </div>
  <%= render partial: "/footer" %>
</div>